<plugin name='cmeditor' version='2.3.3' grailsVersion='2.2 &gt; *'>
  <author>Frank Tröger</author>
  <authorEmail>frank.troeger@fau.de</authorEmail>
  <title>Cm Editor Plugin</title>
  <description>Brief summary/description of the plugin.
</description>
  <documentation>http://grails.org/plugin/cmeditor</documentation>
  <type>CmeditorGrailsPlugin</type>
  <resources>
    <resource>CmeditorResources</resource>
    <resource>de.rrze.cmeditor.CmeditorTagLib</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>