<plugin name='cmeditor' version='2.3.5' grailsVersion='2.0 &gt; *'>
  <author>Frank Tröger</author>
  <authorEmail>frank.troeger@fau.de</authorEmail>
  <title>CM Editor Plugin</title>
  <description>CMEditor is a simple way to easily use the popular CodeMirror web editor in grails applications</description>
  <documentation>https://github.com/RRZE-PP/grails-cmeditor</documentation>
  <type>CmeditorGrailsPlugin</type>
  <resources>
    <resource>CmeditorResources</resource>
    <resource>de.rrze.cmeditor.CmeditorTagLib</resource>
  </resources>
</plugin>